<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmtestCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <appSettings>
      <add key="log4net.Config" value="log4.config"/>
      <add key="log4net.Config.Watch" value="True"/>
      <add key="log4net.Internal.Debug" value="False"/>
    </appSettings>
    <applicationSettings>
        <AmtestCommunicator.Properties.Settings>
            <setting name="USBDeviceType" serializeAs="String">
                <value>USB-5855</value>
            </setting>
            <setting name="USBDevicePortIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USBDevicePortOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USBDevicePortOutPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>VARNISH_PROJ_S01</value>
            </setting>
            <setting name="TCP_Port" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="TCP_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Scan_IP_Model" serializeAs="String">
                <value>169.254.183.101</value>
            </setting>
            <setting name="NoOfScanners" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnitIdType" serializeAs="String">
                <value>TMP_SN</value>
            </setting>
            <setting name="Projects" serializeAs="String">
                <value>[ProjectName=Hyundai CD Rows=2 Cols=3 Products={A2C1234567890,A2C1234567891}]*[ProjectName=Hyundai FB Rows=2 Cols=3 Products={A2C1234567892,A2C1234567893}]</value>
            </setting>
        </AmtestCommunicator.Properties.Settings>
    </applicationSettings>
</configuration>
